<div id="main_cnt_wrapper">
  <div id="yjContentsBody">
    <div class="yjContainer">
      <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
      <div id="yjMain">
        <article class="section">
          <div class="container">
            <header class="header header--section">
              <h1 class="text-xxlarge">
                企業一覧
              </h1>
            </header>
            <ul class="thumbnails thumbnail--movies row grid1 js-lazy-load-images js-my-check-stats" id="list-module">
              <% @products.each do |product| %>
                <li class="col">
                    <div class="bs-callout bs-callout-danger">
                      <table class="table table-striped table-responsive ">
                        <thead>
                          <th>
                            <a href="/products/<%=product.id %>">
                          <h3 class="text-large" title="<%= product.title %>">
                          <%= product.title %>
                            </h3>
                            <a href="/products/<%= product.id %>" title="<%= product.title %>" style="float:right;">
                                <i class="icon-chevron-right color-sub"></i>
                            </a>
                            <div class="thumbnail__caption">
                               <% if product.reviews.present? %>
                              <div class ="rating-area">
                                総合評価:
                               <span class="rating-star">
                               <i class="star-actived rate-<%= product.review_average %>0"></i>
                               </span>
                             </div>
                                  <% else %>
                                <span class="rating-star">
                                  <i class="star-actived rate-0"></i>
                                </span>
                                <% end %>
                            </div>
                        </th>
                      </thead>
                        <tbody>
                          <tr>
                            <td class = "col10 text-break text-small"><%=product.detail%></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </li>
              <% end %>
            </ul>
            <%= paginate(@products)%>
          </div>
        </article>
      </div>
      <div id="yjSub">
