<!DOCTYPE html>
<html class="pc" lang="ja" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
  <head>
    <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100338312-1', 'auto');

    </script>

      <%end%>

    <meta name="google-site-verification" content="ifq8gL0P0Uywa-L-CsZ0By4a1IMWOeJNcKN8U_0SLB4"/>
    <meta charset="utf-8">
        <title>長期・有給インターンシップの口コミ・評判｜イントレビュー</title>
      <meta name=“description” content="日本初の長期・有給インターンシップ口コミ・評判サイト。インターン経験者による口コミで、あなたに合った長期・有給インターンが探せる。リクルートからDeNAなどのベンチャー、スタートアップインターンまで体験談多数！">
      <meta property=“og:title” content='イントレビュー - 長期・有給インターンシップの口コミ・評判｜イントレビュー'>
      <meta name=“twitter:title” content='イントレビュー - 長期・有給インターンシップの口コミ・評判｜イントレビュー'>
      <meta name=“twitter:description” content=“日本初の長期・有給インターンシップ口コミ・評判サイト。インターン経験者による口コミで、あなたに合った長期・有給インターンが探せる。リクルートからDeNAなどのベンチャー、スタートアップインターンまで体験談多数！“>
      <link href='https://fonts.googleapis.com/css?family=Signika:700,300,400,600' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track' => true %>
       <%= javascript_include_tag 'application','data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </meta>

    <script type="text/javascript" src="./footerFixed.js"></script>


  </head>
  <body class="yj950-2 clearfix">
    <div id="wrapper">
      <div id="yjContentsHeader">
        <nav class="globalnav">
          <div class="globalnav__menu">
            <ul class="gmenu">
              <li class="logo header" style="float:left;absolute;">
                <%= link_to 'Int.review', "/", method: :get%>
              </li>
            <li class="search header" style="float:left;position:absolute;top:15px;left:150px;">
                <%= form_tag('/products/search', method: :get) do %>
                <input class="search__query header" name="keyword" placeholder="企業名で検索" type="text" value=""><button class="btn-search header" title="検索" type="submit"><i class="icon-search header"></i></button></input>
                <% end %>
              <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
              </form>
            </li>
            <% if user_signed_in? %>
            <li class="entry_button" style="float:right">
            <%= link_to '口コミ投稿', "/reviews/new",method: :get %>
            </li>
            <li class="entry_button  " style="float:right;">
              <%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
              </li>
            <%else%>
            <li class="entry_button" style="float:right">
            <%= link_to '新規登録', "/users/sign_up",method: :get %>
            </li>
            <li class="entry_button" style="float:right">
              <%= link_to 'ログイン', "/users/sign_in", method: :get%>
            </li>
            <%end%>
            </ul>
          </div>
        </nav>
      </div>

      <div class="bgcolor-white pt1em pb1em" id="contents">
        <%= yield %>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
  </body>



  <footer>
    <div class="globalnav__footer" id="footer">
        <ul>
            <ls class="entry_button"><a href="/terms" style="float:middle">利用規約</ls></a>
            <ls class="entry_button"><a href="/abouts" style="float:middle">"イントレ"について</ls></a>
            <ls class="entry_button"><a href="https://goo.gl/forms/dL8g8nG8kJRizuei2" style="float:middle">お問い合わせ</ls></a>
        </ul>
        <div class="copyright">
          Copyright (C) 2017 株式会社イントレ All Rights Reserved.
        </div>
    </div>
  </footer>
</html>
