<!DOCTYPE html>
<html class="pc" lang="ja" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
  <head>

    <meta charset="utf-8">
        <title>長期・有給インターンシップの口コミ・評判｜イントレビュー</title>
      <meta name=“description” content="日本初の長期・有給インターンシップ口コミ・評判サイト。インターン経験者による口コミで、あなたに合った長期・有給インターンが探せる。リクルートからDeNAなどのベンチャー、スタートアップインターンまで体験談多数！">
      <meta property=“og:title” content='イントレビュー - 長期・有給インターンシップの口コミ・評判｜イントレビュー'>
      <meta name=“twitter:title” content='イントレビュー - 長期・有給インターンシップの口コミ・評判｜イントレビュー'>
      <meta name=“twitter:description” content=“日本初の長期・有給インターンシップ口コミ・評判サイト。インターン経験者による口コミで、あなたに合った長期・有給インターンが探せる。リクルートからDeNAなどのベンチャー、スタートアップインターンまで体験談多数！“>
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </meta>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100338312-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body class="yj950-2">
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPMMHPM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    <div id="wrapper">
      <div id="yjContentsHeader">
        <nav class="globalnav">
          <div class="globalnav__menu">
            <ul class="gmenu">
              <li class="logo" style="float: left ">
                <a href="/">int.review</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>

            <%= yield %>

</body>
</html>
